form.hs-form{
  .inputs-list{
   list-style:none!important;
   li{
    label{
      position:relative;
    }
  }
}
.hs-form-field .input input[type="checkbox"].hs-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;

  +span {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    &:before {
     content: "";
     position: absolute;
     top: 8px;
     left: 0;
     display: block;
     width: 14px;
     height: 14px;
     font-family: "Font Awesome 5 Free";
font-weight:600;
     background-color: #fff;
     border-radius: 5px;
   }
   &:after{
    content: "\f096";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    color: #e0e0e0;
    width: 16px;
    height: 20px;
    font-family: "Font Awesome 5 Free";
font-weight:600;
  }
}
&:checked {
  +span {
    &:after {
      content: "\f14a";
      color: hubl("$first_color");
      top: 3px;
      left: -1px;
    }
  }
}
}

.hs-form-field .input input[type="radio"].hs-input {
  position: relative;
  height: 25px;
  width: 15px;
  top: -6px;
  margin-right: 8px;
  visibility: hidden;
  +span {

    &:before {
      content: "\f1db";
      font-family: "Font Awesome 5 Free";
font-weight:600;
      background-image: none;
      color: #e5e5e5;
      position: absolute;
      background-position: center;
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 19px;
      background-color: #FFF;
      height: 16px;
      width: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      line-height: 0.9;
    }
    &:after {
      content: "\f111";
      font-family: "Font Awesome 5 Free";
font-weight:600;
      background-image: none;
      color: #e5e5e5;
      position: absolute;
      background-position: center;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 7px;
    }
  }
  &:checked {
    +span {
      &:before {
        color: hubl("$cta_background");
      }
      &:after {
        color: hubl("$cta_background");
      }
    }
  }
}

}

// NEW GDPR STUFF
form.hs-form,
form.new-select-custom, 
form#email-prefs-form {

  .legal-consent-container {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px 2px;
    text-align: left;

    .hs-form-booleancheckbox-display {

      > span {
        margin-left: 0;
      }
    }

    .hs-form-field {
      margin-top: 0px !important;
      margin-bottom: 0px !important;;

      .inputs-list {

        li {
          margin-top: 0 !important;
          padding-left: 0;

          label {
            display: block;
            font-size: 12px;
          }
        }
      }

      .hs-error-msgs.inputs-list {

        li {
          padding-left: 14px;

          label {
            font-size: 12px !important;
          }
        }
      }

      .input {

        input[type="checkbox"].hs-input {
          position: absolute;
          margin-top: 0;
          top: 0;
          height: auto;

          + span {
            position: relative;
            display: inline-block;
            padding-left: 14px;
            margin-top: 0;
            font-size: 12px;

            &:before {
              width: 8px;
              height: 10px;
              border-radius: 0px;
              top: 3px;
              left: 1px;
              transform: translateY(0);
            }

            &:after {
              width: 12px;
              height: 12px;
              top: 2px;
              left: 0;
              transform: translateY(0);
            }
          }

          &:checked {

            + span {

              &:after {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }
    }

    .hs-richtext, li, p, span {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.2 !important;
    }

    .hs-richtext {
      margin-top: 10px;
      margin-bottom: 3px;

      a {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}