/* HubSpot search feature & result page */
.hs-search-results-page  {

  .search-results-wrapper {
    margin-bottom: 20px; 

    .hs-search-field {
      margin-bottom: 50px;

      &__bar {
        position: relative;
      }

      &__input {
        font-size: 18px;
        border: 1px solid #000;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 6px 35px 6px 10px;
        height: 100%;
        -webkit-appearance: none;
      }

      &__submit {
        position: absolute;
        display: inline-block;
        font-size: 16px;
        top: 50%;
        right: 10px;
        padding: 5px;
        transform: translateY(-50%);
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        cursor: pointer;
        color: hubl("$first_color");
      }

      &__suggestions {
        padding: 0;

        a {
          color: hubl("$first_color");
        }
      }

    &--open {
      
      .hs-search-field__suggestions {
        padding: 10px;
      }
    }
    }

    .hs-search-results {
      margin-bottom: 50px;

      &__title {
        font-size: 20px;
        color: hubl("$first_color");
        line-height: 26px;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }

      &__description {
        margin-top: 5px;
        margin-bottom: 35px;
      }

      &__prev-page, &__next-page {
        display: inline-block;
        color: hubl("$first_color");
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        margin-bottom: 30px;
        cursor: pointer;
        transition: all .3s linear;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

}