.homepage{

.services{
    >div.container{
        >div{
            >span{
                >div{
                    display:flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}



}