.portfolio-website {
	.hero-banner{
		margin-bottom: 0px;
	}
	.portfolio-post-head{

		ul{
			margin-bottom: 0px;
			padding-left: 0px;
			li{
				&:before{
					display: none;
				}
			}
		}
	}

    .portfolio-post-single {
        display: flex;
        @media (max-width: 767px) {
    		flex-direction: column;
    	}
        & > div{
        	width: 50%;
        	 @media (max-width: 768px) {
	    		width:100%;
	    	}
	    	&:last-child{
	    		@media (max-width: 768px) {
		    		width:70%;
		    		margin: 0 auto;
		    	}
		    	@media (max-width: 555px) {
		    		width:100%;
		    	}
	    	}
        }
        .right-section, .left-section{
        	width: 100%;
        	.portfolio-post-body{
				padding-top: 5px;
			}
        }
    }

    .center-section {
	    width: 100%;
	    border-top: 1px solid #e1e1e1;
	    display: flex;
	    justify-content: space-between;
	    padding: 25px 0px 40px 0px;
	    margin-top: 10px;
	     @media (max-width: 520px) {
    		flex-direction: column;
    	}
	}

	@media only screen and (max-width: 520px){
		.center-section > div {
		    margin: 0 auto 20px auto;
		}
		.pagination a:first-child() {
		    margin-right: 5px;
		}
		.pagination a:last-child() {
		    margin-left: 5px;
		}
	}


}
