/*BLOG LISTING*/

// MENU
.portfolio-menu-wraper{
    background: hubl("$first_color"); 
    min-height: 85px;
    ul{
        display: flex;
        list-style: none;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        min-height: 80px;
        @media screen and (min-width:0\0) {
            height: 80px;
        }
        @media only screen and (max-width : 494px) {
            
            flex-wrap: wrap;
            
        }
        li{
            a{
                padding: 0 20px;
                color: #fff;
                @media only screen and (max-width : 494px) {
                    padding: 0 10px;
                }
                &:hover{
                    color: hubl("$main_font_color");
                }
                &:visited{
                    color: hubl("$cta_color");
                }
                &:active{
                    color: hubl("$cta_color");
                }
            }
            a.active{
                color: hubl("$main_font_color");
            }
        }
    }
}

// BLOG POST LISTING
.blog-portfolio-wraper{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 13px solid hubl("$first_color");
    transition: opacity 0.5s ease-in-out;

        .portfolio-blog{
        
            width: 25%;
            padding-bottom: 25%;
            background-position: center center!important;
            background-size: cover!important;
            background-repeat: no-repeat;
            position: relative;
            opacity:1;
            transition: all 0.5s ease;
            z-index: 0;
            display:table;
            @media only screen and (max-width : 1359px) {
                width: 33.333%;
                padding-bottom: 33.333%;
            }
            @media only screen and (max-width : 1024px) {
                width: 50%;
                padding-bottom: 50%;
            }
            @media only screen and (max-width : 675px) {
                width: 100%;
                padding-bottom: 100%;
            }
            &.new-items{
                opacity:0;
            }
            &:hover .portfolio-hover{
                &.hover-left{
                    left:0;
                    bottom:0;
                    height:100%;
                    width:100%;
                    transition: width 0.4s;
                    transition-delay: 0.2s;
                }
                &.hover-right{
                    right:0;
                    bottom:0;
                    height:100%;
                    width:100%;                    
                    transition: width 0.4s;
                    transition-delay: 0.2s;
                }
                &.hover-top{
                    left:0;
                    top:0;
                    height:100%;
                    width:100%;                    
                    transition: height 0.4s;
                    transition-delay: 0.2s;
                }
                &.hover-bottom{
                    left:0;
                    bottom:0;
                    height:100%;
                    width:100%;                    
                    transition: height 0.4s;
                    transition-delay: 0.2s;

                }

            }
            .portfolio-hover{
                position: absolute;
                height: 0px;
                width: 0px;
                background-color: hubl_rgba("$first_color", .61);
                z-index: 1;
                overflow: hidden;
                &.hover-left{
                    left:auto;
                    bottom:auto;
                    height:100%;
                    width:100%;
                }
                &.hover-right{
                    right:auto;
                    bottom:auto;
                    height:100%;
                    width:100%;                    
                }
                &.hover-top{
                    left:auto;
                    top:auto;
                    height:100%;
                    width:100%;                    
                }
                &.hover-bottom{
                    left:auto;
                    bottom:auto;
                    height:100%;
                    width:100%;                    
                }
                &.hide-left{
                    left:0;
                    bottom:0;
                    top:auto;
                    right:auto;
                    height:100%;
                    width:0%;
                    transition: width 0.4s;
                }
                &.hide-right{
                    right:0;
                    bottom:0;
                    top:auto;
                    left:auto;
                    height:100%;
                    width:0%;                    
                    transition: width 0.4s;
                }
                &.hide-top{
                    left:0;
                    top:0;
                    height:0%;
                    width:100%;                    
                    transition: height 0.4s;
                }
                &.hide-bottom{
                    left:0;
                    bottom:0;
                    height:0%;
                    width:100%;                    
                    transition: height 0.4s;
                }                
                .content{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    z-index: 3;
                    overflow: hidden;
                    width: 100%;
                    transition:0.3s all ease-in-out;
                    &.visible{
                        transform: translate(-50%,-50%) scale(1);
                    }
                    a{
                        width:81px;
                        height: 81px;
                        border-radius: 50%;
                        margin: 0 auto;
                        background: none;
                        display: table;
                        border: 2px solid #fff;
                        text-align: center;
                        &:hover{
                            background: #fff;
                            i{
                                color: hubl("$first_color");

                            }
                        }                      
                        i{
                            display: table-cell;
                            vertical-align: middle;
                            color: #fff; 
                            font-size: 34px;

                        }
                    }   
                    h4{
                        color:#fff;
                        font-size: 35px;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-align: center;
                    }
                    ul{
                        list-style: none;
                        text-align: center;
                        li{
                            color:#fff;
                            font-size: 16px;
                            font-weight: 200;
                        }
                    }
                }

            }
        }
    
}

/*SINGLE POST*/

.portfolio-post-single{
    display: flex;
    margin-top: 55px;
    @media only screen and (max-width : 768px) {
        flex-direction: column;
    } 
    .left-section{
        width: 50%;
        @media only screen and (max-width : 768px) {
            width: 100%;
        } 
        .portfolio-post-head{
            h2{
                text-align: left;
                font-size: 41px;
                color:hubl("$cta_background");
                margin:0;
                padding: 0;
                font-weight: 400;
                text-transform: none;
                margin-top: -10px;
                letter-spacing: 0.04em;
                span{
                    letter-spacing: 3px;
                    color: hubl("$main_font_color");
                }
            }
            ul{
                list-style: none;
                    li{
                        display: block;
                        float: left;
                        padding: 7px 0px 0px 10px;
                        font-size: 16px;
                        &:after{
                            content: ",";
                        }
                        &:first-child{                   
                            padding-left: 0px;
                        }
                        &:last-child{                   
                            &:after{
                                content: "";
                            }
                        }
                    } 
            }
        }
        .portfolio-post-body{
            clear: both;
            padding: 15px 0px;
            h3{
                font-size: 20px;
                font-weight: 500;
                margin: 0px 0px 15px 0px;
            }
            p{
                font-size: 16px;
                font-weight: 200;

            }
        }
    }
    .right-section{
        width: 50%;

        @media only screen and (max-width : 768px) {
            width: 70%;
            margin: 0 auto;
        } 
        @media only screen and (max-width : 555px) {
            width: 100%;
        } 
        .portfolio-slider{
            .slick-slider{
                padding-right: 0px;
                @media only screen and (max-width : 768px) {
                    padding-left: 0px;
                }                
                .slick-next{
                    margin-top: 0;
                    z-index: 1;
                    background-color: hubl("$cta_background");
                    width: 40px;
                    height: 40px;
                    right: 0;
                    top:50%;
                    transform: translateY(-50%);
                    &:hover{
                        background-color: hubl("$main_font_color");
                    }
                }
                .slick-prev{
                    margin-top: 0;
                    z-index: 1;
                    background-color: hubl("$cta_background");
                    width: 40px;
                    height: 40px;
                    left: 0;
                    top:50%;
                    transform: translate(30px, -50%);
                    @media only screen and (max-width : 767px) {
                        transform: translate(0px, -50%);
                    } 
                    &:hover{
                        background-color: hubl("$main_font_color");
                    }
                }
                button{

                    &:before{
                        padding-top: 2px;
                        width: 40px;
                        height: 40px;
                        font-size: 34px;
                        color: #FFF;
                        content: '\f104';
                        font-family: "Font Awesome 5 Free";
font-weight:600;
                        background-image: none;
                        
                    }
                }
            }
        }
    }
}
.center-section{
    width: 100%;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 40px 0px;
    margin-top: 10px;
    @media only screen and (max-width : 520px) {
            flex-direction: column;
    }
    .social-share{
        @media only screen and (max-width : 520px) {
            margin: 0px auto 20px auto;
        }
        ul{
            list-style: none;
            li{
                display: block;
                float: left;
                padding: 5px 10px 0px 10px;
                &:first-child{
                    color: #fff;
                    padding-left: 0px;
                    padding-top: 0px;
                    font-size: 24px;
                    display: table;
                    width: 41px;    
                    height: 41px;
                    background: hubl("$first_color");
                    text-align: center;
                    margin-right: 20px;
                    i{
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        padding-left: 7px;

                    }
                }
                &:last-child{
                    padding-right: 0px;
                }
                a{
                    color: #d7d7d7;
                    font-size: 22px;
                    &:hover{
                        color: hubl("$cta_hover_color");
;
                    }
                }
            } 
        }
    }
}
.pagination{
    @media only screen and (max-width : 520px) {
        margin: 10px auto 0px auto;
    }

    .another-post{
        color: #FFF;
        background-color: hubl("$cta_background");
        float: left;
        margin-left: 20px;
        border: hubl("$cta_background") solid 2px;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        min-height: 27px;
        min-width: 105px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 11px 0;
        font: 300 16px / 16px Palanquin;
        -webkit-transition: linear 0.3s all;
        -o-transition: linear 0.3s all;
        -moz-transition: linear 0.3s all;
        transition: linear 0.3s all;
         @media only screen and (max-width : 520px) {
            margin-left:0px;
        }
        &:hover{
            background-color: hubl("$cta_hover_background");
            border-color: hubl("$cta_hover_color");
            color: hubl("$cta_hover_color");
        }
    }
    .right{
        @media only screen and (max-width : 520px) {
            margin-left: 5px;
        }
    }
    .left{
        @media only screen and (max-width : 520px) {
            margin-right: 5px;
        }
    }
}
.portfolio-free-quote{
    .free-quote{
        .container{
            max-width: 1170px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            .cta-secondary{
                border: 2px solid hubl("$cta_hover_background");
                padding: 14px 28px;

            }
        }
    }
}

    









