.background-spacer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right {

    .background-spacer {
        left: 50%;
    }

    &--45 .background-spacer {
        left: 55%;
    }
}

.left {

    .background-spacer {
        left: 0;
        width: 50%;
    }

    &--45 .background-spacer {
        width: 45%;
    }
}


@media (max-width : 767px) {
	.background-spacer {
		display: none;
	}

}