.google-maps-module{
    #map-close{
    position: fixed;
        top: 20px;
        left: 20px;
        font-size: 26px;
        border: 0;
        background-color: transparent;
        z-index: 9;
        margin:0;
        padding: 0;
        width:61px;
      .fa{
          padding: 0px 3px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
          color: $mainColor;
          border-radius: 3px;
      }
    }
    .map-wrapper{ 
    height: auto; 
    width: 100%; 
    position: relative; 
    float: right;
    .gmnoprint{
    	.gm-style-mtc{
    		display:none!important;
    	}
    }
    #map-find-road{
    position: absolute;
    bottom: 125px;
    font-size: 26px;
    border: 0;
    background-color: transparent;
    z-index: 9;
    right: 10px;
    padding: 0;
    margin:0;
    width: auto;
      .fa{
        padding: 0px 3px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
        color: $mainColor;
        border-radius: 3px;

      }
    }
    #start-position{
      position: absolute;
      bottom: 126px;
      right: 46px;
      width: 0px;
      font-size: 14px;
      height: 26px;
      z-index: 9;
      color: $secondaryTextColor;
      border:0;
        padding: 0px 0px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
        border-radius: 3px;
      transition:all 0.3s linear;
      &.open{
        width: 200px;
        padding: 0px 3px;
      }
    }
    &.full-open{
        position:fixed;
        left:0;
        top:0;
        z-index:9999;
        width:100vw;
        max-height:100vh;
        height:100vh;
            #map{
		        max-width: 100%;
		        width:100%;
		        height: 100%;
		        float:none;
		    }
    }
    
    .mask{ 
      width: 100%; 
      height: 100%; 
      position: absolute; 
      background-color: transparent; 
    }
    iframe{ 
      width: 100%; 
      height: 100%; 
    } 
  } 
}