.homevideo {
	position: relative;
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	overflow: hidden;

	.mask { 
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.36);
	}

	video {
		display: block;
		object-fit: cover;
		width: auto;
    	max-width: none;
    	height: 100%;
    	min-height: 100vh;
    	min-width: 100%;
	}

	.content {
	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    min-width: 80%;

		    h1 {
		    	color: #fff;
		    	font-weight: 300;
		    	span {
		    		font-weight: 600;
		    		font-size: inherit;
		    		color: hubl("$cta_background");
		    	}
		    }

		    h2, h3, h4, h5, h6{
				color: #fff;
		    }

		    p {
		    	color: #fff;
		    	font-size:20px;
		    	font-weight:300;
		    	text-align:center;
		    }

		    p:last-of-type {
			    text-align:center;
			    margin-top:40px;

			    a.cta_button{
				    position:relative;
				    margin-bottom:20px;
				    margin-left:10px;
				    margin-right:10px;
				}

				>.hs-cta-wrapper:first-of-type {
					a.cta_button {
				    	position:relative;
					}
				}
		}
    }

}

@media (max-width : 991px) {
    .homevideo {
    	min-height: 600px;

    	video {
    		display: none;
    	}

    	.content {
    		
    	}
    }
}

@media (max-width: 767px) {

    .homeslider {
        .content {
            p {
                font-size:15px;
           }
        }
    }
}

@media (min-width: 992px){
	.homevideo.video {
		background-image:none!important;
	}
}









