.slider-rec-posts {
		margin-top: 30px;
		margin-bottom: 30px;

		.slick-dots {
			bottom: -40px;

			li {

				button {

					&:before {
						font-size: 40px;
						color: hubl("$cta_background");
						transition: opacity .3s linear;
					}
				}
			}
		}

	&__slide {
		position: relative;
		padding: 15px;
		width: 350px;
		height: 350px;
		background-size: cover;
		margin: 0px 10px;
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}