.sodium-search-field {
  float: right;
  margin-bottom: 0;
  position: relative;
  height: 70px;

  &__suggestions {
    display: none !important; 
  }

  &__bar {
    position: relative;
  }

  &__search-button {
    font-family: "Font Awesome 5 Free";
font-weight:600;
    content: "\f002";
    font-size: 20px;
    background: none;
    box-shadow: none;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 4;
    transform: translateY(-50%); 
    transition: all 0.3s linear; 
    color: hubl("$main_font_color");

    &--active {
      color: #fff;
    }
  }

  form {
    height: 70px;
    display: flex;
    align-items: center;
  }

  &__input[type=search] {
    font-size: 14px;
    border: 0;
    position: relative;
    z-index: 3;
    right: 0;
    height: 30px;
    box-shadow: none;
    background: hubl("$first_color");
    color: #fff;
    padding: 0 35px 0 10px;
    border-radius: 20px;
    width: 40px;
    opacity: 0;
    transition: all 0.3s linear;
    -webkit-appearance: none;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }
  }

  // &:hover .hs-search-field__input,
  // &__input:hover, &__input:focus, 
  &__input--active[type=search] {
    width: 140px;
    opacity: 1;
  } 
}

/* mobile search */
.slicknav_menu .sodium-search-field {
	float: none;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;

  form {
    height: auto;
  }

  &__input {
    width: 100%;
    opacity: 1;
    background: hubl("$first_color");
    color: #fff;
  }

  &__search-button {
    color: #fff;    
  }
}