.txt-cta-separator {
	min-height: 160px;
	.separator-content {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: space-around;			
		}	
		h3 {
			color: hubl("$cta_background");
			font-size: 34px;
			font-weight: 200;
			text-transform: uppercase;
			letter-spacing: 4px;
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
}